@font-face {
  font-family: 'oswaldregular';
  src: url("../fonts/oswald-regular-webfont.woff2") format("woff2"), url("../fonts/oswald-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url("../images/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.main-title {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.main-title a span {
  font-family: 'oswaldregular', 'oswald', sans-serif;
  font-size: 3.5em;
  color: whitesmoke;
  letter-spacing: -2px;
  line-height: 1.1em;
  text-align: center;
  width: 400px;
  -webkit-text-stroke: 1px black;
}

.menu {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu a {
  text-decoration: none;
  font-family: 'oswaldregular', 'oswald', sans-serif;
  font-size: 2.5em;
  color: whitesmoke;
  letter-spacing: -1px;
  -webkit-text-stroke: 1px black;
  margin-bottom: 2vh;
}

.menu a:hover {
  color: black;
}

.rules {
  background-color: darkgrey;
  width: 100%;
  height: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rules h2 {
  font-family: 'oswaldregular', 'oswald', sans-serif;
  font-size: 2.5em;
  color: whitesmoke;
  -webkit-text-stroke: 1px black;
  margin-bottom: 2vh;
}

.rules h3 {
  font-family: 'oswaldregular', 'oswald', sans-serif;
  font-size: 2em;
  color: whitesmoke;
  -webkit-text-stroke: 1px black;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.rules p {
  font-family: 'robotoregular', 'roboto', sans-serif;
  font-size: 1.5em;
  color: black;
}

.rules p:nth-last-of-type(2) {
  margin-bottom: 1vh;
}

.rules p:nth-last-of-type(5) {
  margin-bottom: 1vh;
}

.rules a {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-family: 'oswaldregular', 'oswald', sans-serif;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
  font-size: 2.5em;
  color: whitesmoke;
  -webkit-text-stroke: 1px black;
}

.rules a:hover {
  color: black;
}

.main-content-title {
  font-family: 'oswaldregular', 'oswald', sans-serif;
  font-size: 3em;
  letter-spacing: -1px;
  color: whitesmoke;
  -webkit-text-stroke: 1px black;
  padding-bottom: 5vh;
}

.input-class {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'oswaldregular', 'oswald', sans-serif;
}

.input-class h2 {
  font-size: 2em;
  color: whitesmoke;
  -webkit-text-stroke: 1px black;
  margin-bottom: 2vh;
}

.input-class form {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-class form input {
  height: 30px;
}

.input-class form button {
  font-family: 'oswaldregular', 'oswald', sans-serif;
  color: whitesmoke;
  height: 30px;
  width: 50px;
  background-color: black;
  border: 2px solid whitesmoke;
}

.input-class form button:hover {
  color: black;
  background-color: whitesmoke;
  border-color: black;
}

.input-class a {
  padding-right: 10vw;
  padding-bottom: 5vh;
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  font-size: 2.5em;
  color: whitesmoke;
  -webkit-text-stroke: 1px black;
}

.input-class a:hover {
  color: black;
}

.script-class {
  height: 100vh;
  width: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'oswaldregular', 'oswald', sans-serif;
  font-size: 1em;
}

.script-class h2 {
  font-size: 2em;
  font-weight: 100;
  letter-spacing: -1px;
  color: black;
}

.script-class p {
  width: 50vw;
  font-size: 1.5em;
  color: black;
  margin-bottom: 2vh;
}

.script-class .trans-div {
  text-align: center;
  font-size: 1.5em;
  color: black;
  cursor: pointer;
}

.script-class .trans-div:hover {
  font-weight: 700;
}

.script-class a {
  padding-right: 10vw;
  padding-bottom: 5vh;
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  font-size: 2.5em;
  color: whitesmoke;
  -webkit-text-stroke: 1px black;
}

.script-class a:hover {
  color: black;
}

@media (max-width: 1024px) {
  .rules {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .rules h2 {
    font-size: 2em;
    color: black;
    -webkit-text-stroke: 0;
  }
  .rules h3 {
    font-size: 1em;
    color: black;
    -webkit-text-stroke: 0;
  }
  .rules p {
    font-size: 1em;
  }
  .rules a {
    color: white;
    font-size: 1.8em;
    margin-bottom: 2vh;
  }
  .input-class a {
    font-size: 1.8em;
    padding-right: 5vw;
    padding-bottom: 2vh;
  }
  .script-class {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .script-class h2 {
    font-size: 1.3em;
  }
  .script-class p {
    width: 100%;
    font-size: 0.8em;
  }
  .script-class .trans-div {
    font-size: 0.8em;
    padding-bottom: 2vh;
  }
  .script-class a {
    padding-right: 2vw;
    padding-bottom: 2vh;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=main.css.map */